---
import Social from './Social.astro';
const { platform, username } = Astro.props;
---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="twitter" username="flowmarhoops"/>
  <Social platform="github" username="flowmar"/>
  <Social platform="youtube" username="flowmarhoops"/>
</footer>